* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", serif;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(179, 62%, 43%, 0.1);
}

.container {
  max-width: 700px;
  height: auto;
  min-height: 100%;
  width: min(100%, 700px);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}

.heading {
  grid-column: span 2;
  padding: 2rem;
}

.heading-h {
  color: var(--cyan);
  text-align: left;
  font-size: 26px;
}

.under-head {
  color: var(--Bright-Yellow);
  font-size: 20px;
  margin-top: 1rem;
}

.heading-text {
  color: var(--Grayish-Blue);
  margin-top: 0.5rem;
}

.left-side {
  padding: 2.5rem;
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 0 0 5px;
}

.left-h {
  color: white;
  font-size: 20px;
}

.price {
  margin-top: 1rem;
  color: var(--Light-Gray);
  font-weight: lighter;
}

.price span {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.price-text {
  margin-top: 0.5rem;
  color: white;
  font-weight: 300;
}

.btn {
  margin-top: 2rem;
  height: 3rem;
  background-color: var(--Bright-Yellow);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  max-width: 250px;
}

.btn:hover {
  cursor: pointer;
}

.right-side {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(179, 62%, 43%, 0.8);
  border-radius: 0 0 5px 0;
}

.right-h {
  margin-top: -1rem;
  font-size: 20px;
  color: white;
}

.right-text {
  margin-top: 1rem;
  color: white;
  font-weight: 300;
  width: 75%;
}

.attribution {
  margin-top: 4rem;
}

@media (max-width: 768px) {
  body {
    padding: 2rem;
  }
  .container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
  }

  .heading {
    grid-column: span 1;
    border-radius: 0;
    padding: 2rem;
  }

  .heading-h {
    font-size: 22px;
  }

  .under-head {
    font-size: 16px;
  }

  .heading-text {
    margin-top: 1rem;
    font-size: 12px;
  }

  .left-h {
    font-size: 16px;
  }

  .price-text {
    font-size: 14px;
  }

  .btn {
    width: 100%;
  }

  .left-side {
    border-radius: 0;
    padding: 2rem;
  }

  .right-side {
    border-radius: 0 0 5px 5px;
    padding: 2rem;
  }

  .right-h {
    font-size: 16px;
  }

  .right-text {
    font-size: 14px;
  }
}
