* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", serif;
}

p {
  font-size: 18px;
}

body {
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--white);
  max-width: 700px;
  height: auto;
  min-height: 100%;
  width: min(100%, 700px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.leftside {
  padding: 3rem;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 20px;
}

.your-result {
  color: var(--light-lavender);
}

.circle {
  margin-top: 2rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.int {
  color: var(--white);
  font-size: 60px;
}

.of {
  color: var(--light-lavender);
}

.result {
  margin-top: 2rem;
  color: var(--white);
}

.comment {
  margin-top: 0.5rem;
  text-align: center;
  color: var(--light-lavender);
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 3rem;
  border-radius: 20px;
}

.your-result,
.summary {
  margin: 0; /* Убираем возможные автоматические отступы */
  padding: 0; /* Убираем лишние внутренние отступы */
  line-height: 1.5; /* Одинаковая высота строки */
  font-size: 1.5rem; /* Один и тот же размер шрифта */
  text-align: left;
}

.summary {
  margin-top: 1.5rem;
}

.stats {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  height: 3rem;
  padding: 1rem;
  border-radius: 20px;
}

.spec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  margin-top: 2rem;
  width: 100%;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  height: 3rem;
  border-radius: 40px;
  font-weight: bold;
  font-size: 18px;
  border: none;
}

.btn:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  cursor: pointer;
}

.stat:nth-child(1) {
  background-color: hsl(0, 100%, 67%, 0.1);
}

.stat:nth-child(2) {
  background-color: hsl(39, 100%, 56%, 0.1);
}

.stat:nth-child(3) {
  background-color: hsl(166, 100%, 37%, 0.1);
}

.stat:nth-child(4) {
  background-color: hsl(234, 85%, 45%, 0.1);
}

.stat:nth-child(1) .spec {
  color: var(--light-red);
}

.stat:nth-child(2) .spec {
  color: var(--orangey-yellow);
}

.stat:nth-child(3) .spec {
  color: var(--green-teal);
}

.stat:nth-child(4) .spec {
  color: var(--cobalt-blue);
}

@media (max-width: 768px) {
  body {
    padding: 0;
    min-height: auto;
    background-color: var(--white);
  }
  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .leftside {
    border-radius: 0 0 30px 30px;
  }

  .right-side {
    max-width: 100%;
    width: 100%;
    padding: 2rem;
  }

  .summary {
    margin-top: 0;
  }

  .stats {
    margin-top: 1rem;
  }

  .stat {
    height: 3.5rem;
  }
}
